:root {
    --main-text-color: #212121;
    --main-2-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --bg-hd-ft-color: #2F303A;
    --bg-accent-color: #F5F4FA;
}

.body {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--white-color)
}

a {text-decoration: none;}
ul {list-style: none;}
button {border: none;}

/* ! HEADER ! */

/* LOGO-H */

.logo-h {
    font-family: 'Raleway';
    font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
}
.logo-h .span,
.logo-f .span {
    color: var(--accent-color);
}
/* HOVER AND FOCUS IN HEADER */

.header .link-nav .link-header-1:hover,
.header .link-nav .link-header-1:focus {
    color: var(--accent-color)
}

.header .link-nav .link-header-2:hover,
.header .link-nav .link-header-2:focus {
    color:var(--accent-color)
}

.header .link-nav .link-header-3:hover,
.header .link-nav .link-header-3:focus {
    color:var(--accent-color)
}

.header .link-header-4:hover,
.header .link-header-4:focus {
    color:var(--accent-color)
}

.header .link-header-5:hover,
.header .link-header-5:focus {
    color:var(--accent-color)
}

/* COLOR <a> IN HEADER */

.link-header-1,
.link-header-2,
.link-header-3 {
    font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
}
.link-header-4,
.link-header-5 {
    font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--main-2-text-color)
}

/* INDEX-MAIN */

/* SECTION-1 */

.hero {
    background-color: var(--bg-hd-ft-color);
}
.title-1 {
    font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--white-color);
}
.button-1 {
    font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: var(--white-color);
            background-color: var(--accent-color);
            border-radius: 4px;
}

/* SECTION-2 */

.title-benefit {
    font-weight: 700;
        font-size: 14px;
        line-height: 16px;
}
.text-benefit {
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: var(--main-2-text-color);
}

/* SECTION-3 */

.title-portfolio {
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
}

/* SECTION-4 */

.box-team {
    background-color: var(--bg-accent-color);
}
.title-team {
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
}
.team-card-1,
.team-card-2,
.team-card-3,
.team-card-4 {
    width: 270px;
        height: 368px;
    background-color: var(--white-color);
}
.title-card-1,
.title-card-2,
.title-card-3,
.title-card-4 {
    font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
}
.text-card-1,
.text-card-2,
.text-card-3,
.text-card-4 {
    font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: var(--main-2-text-color);
}

/* PORTFOLIO-MAIN */
                                                              
/* FILTERS */

.pointer {
    cursor: pointer;
}
.link-filter:hover,
.link-filter:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.link-filter {
    width: 128px;
    height: 38px;
    background-color: var(--bg-accent-color);
}

/* PROJECTS */

.project-list {
    background-color: #EEEEEE;
}
.title-project {
    font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
}
.text-project {
    font-weight: 400;
        font-size: 16px;
        line-height: 30px;
}

/* ! FOOTER ! */

.footer {
    background-color: var(--bg-hd-ft-color);
}
.logo-f {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
    color: var(--white-color);
}
.link-footer-1 {
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: var(--white-color);
}
.link-footer-2,
.link-footer-3 {
    font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.6);
}
.address .link-footer-1:hover,
.address .link-footer-1:focus {
    color:var(--accent-color)
}
.address .link-footer-2:hover,
.address .link-footer-2:focus {
    color:var(--accent-color)
}
.address .link-footer-3:hover,
.address .link-footer-3:focus {
    color:var(--accent-color)
}